---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Nothing here for now...</title>
  </head>
  <body>
    <main>
      <h1>There isn&rsquo;t anything here.</h1>
      <h2>Nothing at all.</h2>
    </main>
  </body>
</html>

<style>
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    background: #455a64;
    min-height: 100%;
    overflow: hidden;
  }

  html {
    box-sizing: border-box;
    height: 100%;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1.4;
  }

  h1,
  h2 {
    text-rendering: optimizeLegibility;
    font-family: "Lato", Helvetica, Arial, sans-serif;
  }

  h1 {
    font-size: 6vw;
    color: #fff;
  }

  h2 {
    font-size: 4vw;
    color: #cfd8dc;
  }
</style>
